Repository TheSuperGamer20578/Sudan-bot, pull requests merged in 2020-10, with the labels that each got.

#20 Fix README.md
  README.md
Labels: Docs

#23 Dashboard folder structure (frontend) and dependencies
  frontend/.babelrc.js
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/dashboard.html
  frontend/index.html
  frontend/main.js
  frontend/package.json
  frontend/public/dashboard.html
  frontend/public/index.html
  frontend/public/main.js
  frontend/public/robots.txt
  frontend/robots.txt
  frontend/rollup.config.js
  frontend/src/components/placeholder.txt
  frontend/src/pages/placeholder.txt
  frontend/src/sass/placeholder.txt
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: Dashboard

#25 Moved pip install to install dependancies
  .github/workflows/pylint.yml
Labels: Github

#26 Fix dashboard
  frontend/dashboard.html
  frontend/index.html
  frontend/main.js
  frontend/robots.txt
Labels: Dashboard
